.git
.github
.pytest_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info
.eggs
build
dist
.venv
venv
.env
.env.*
notebooks/.ipynb_checkpoints
results
data
*.tar
*.tar.gz
*.zip
.DS_Store
